$color-primary: #e0e0e0;
$color-primary-active: #bdbdbd;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-text-widget-header: #212121;
$color-text-hint: #bdbdbd;

$widget-spacing: 1rem;
$widget-transition: 0.5s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widget {
  position: relative;
  border: 1px solid black;
  width: 50%;

  &-header {
    background-color: $color-primary;
    color: $color-text-widget-header;
    padding: $widget-spacing;
    transition: $widget-transition;
    cursor: pointer;

    i {
      position: absolute;
      right: $widget-spacing;
    }

    &:hover {
      background-color: $color-primary-active;
    }
  }

  &-search {
    position: relative;
    margin: $widget-spacing;

    input {
      width: 100%;
      padding: 0.5rem 2rem;
      outline: none;
      border: 1px solid $color-primary;
      transition: $widget-transition;

      &:focus {
        border-color: $color-primary-active;
        box-shadow: 0 0 0.5rem $color-shadow;
      }
    }

    .icon-search,
    .icon-clear {
      position: absolute;
      top: 0.5rem;
      cursor: pointer;
    }

    .icon-search {
      left: 0.5rem;
    }

    .icon-clear {
      right: 0.5rem;
    }
  }

  &-search-results {
    padding: 0 $widget-spacing $widget-spacing $widget-spacing;

    &-header {
    }
  }
}
