$color-primary: #ff6f00;
$color-primary-active: #ff8f00;

$widget-spacing: 1rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widget {
  position: relative;
  border: 1px solid black;
  width: 50%;

  &-header {
    background-color: $color-primary;
    color: white;
    padding: $widget-spacing;
    transition: 0.5s;
    cursor: pointer;

    i {
      position: absolute;
      right: $widget-spacing;
    }

    &:hover {
      background-color: $color-primary-active;
    }
  }

  &-search {
    position: relative;
    margin: $widget-spacing;

    input {
      width: 100%;
      padding: 0.5rem 2rem;
    }

    .icon-search,
    .icon-clear {
      position: absolute;
      top: 0.5rem;
      cursor: pointer;
    }

    .icon-search {
      left: 0.5rem;
    }

    .icon-clear {
      right: 0.5rem;
    }
  }

  &-search-results {
    padding: 0 $widget-spacing $widget-spacing $widget-spacing;

    &-header {
    }
  }
}
